{% extends 'authentication/base.html' %}
{% load staticfiles %}

{% block title %}
Registrarse
{% endblock%}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/pages/register.css' %}">
{% endblock %}

{% block body %}
<body class="vertical-layout vertical-menu-collapsible page-header-dark vertical-modern-menu 1-column register-bg  blank-page blank-page" data-open="click" data-menu="vertical-modern-menu" data-col="1-column">
    <div class="row">
        <div class="col s12">
            <div class="container">
                <div id="register-page" class="row">
                    <div class="col s12 m6 14 z-depth-4 card-panel border-radius-6 register-card bg-opacity-8">
                        <form class="login-form" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="input-field col s12">
                                    <h5 class="ml-4">Registro</h5>
                                    <p class="ml-4">¡Únete a nuestra comunidad ahora!</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col s12 m6">
                                    {{user_form.username}}
                                </div>
    
                                <div class="col s6 m6">
                                    {{user_form.email}}
                                </div>

                                <div class="col s6 m6">
                                    {{user_form.password}}
                                    <i class="material-icons" style="
                                        z-index: 2;
                                        position: relative;
                                        margin-top: -40px;
                                        float: right;"
                                        onclick="showHidePassword(this)"
                                        >remove_red_eye</i>
                                </div>

                                <div class="col s6 m6">
                                    {{user_form.first_name}}
                                </div>

                                <div class="col s6 m6">
                                    {{user_form.last_name}}
                                </div>

                                <div class="col s12 m6">
                                    {{profile_form.phone}}
                                </div>

                                <div class="col s12 m6">
                                    {{profile_form.address}}
                                </div>

                                <div class="col s12 m6">
                                    {{profile_form.commune}}
                                </div>

                            </div>

                            <div class="row">
                                <div class="input-field col s12">
                                    <button class="btn waves-effect waves-light border-round gradient-45deg-green-teal col s12" type="submit">Registrar</button>   
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <p class="margin medium-small"><a href="/login">¿Ya tienes una cuenta? Inicia sesión</a></p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}

{% block pageleveljs %}
    <script>
        function showHidePassword(event) {
            var element = document.getElementById("id_password");

            if (element.type === "password") {
                element.type = "text";
            } else {
                element.type = "password";
            }
        }
    </script>
{% endblock %}