{% load staticfiles %}
<header id="header-waypoint-sticky" class="header-main header-mobile-menu with-absolute-navbar">
    <div class="header-outer clearfix">
        <div class="header-inner">
            <div class="row shrink-auto-lg gap-0 align-items-center">
                <div class="col-5 col-shrink">
                    <div class="col-inner">
                        <div class="main-logo">
                            <a href="{% url 'home:index' %}"><img src="{% static 'assets/images/logo.png' %}" alt="images" /></a>
                        </div>
                    </div>
                </div>
                <div class="col-7 col-shrink order-last-lg">
                    <div class="col-inner">
                        <ul class="nav-mini-right">

                            {% if not request.user.is_authenticated %}
                            <li class="d-none d-sm-block">
                                <a href="{% url 'authentication:login' %}" data-keyboard="false">
                                    <span class="icon-font"><i class="fas fa-boxes"></i></span> Publicar producto
                                </a>
                            </li>

                            {% else %}
                            <li class="d-none d-sm-block">
                                <a href="{% url 'store:mystore' %}" data-keyboard="false">
                                    <span class="icon-font"><i class="fas fa-boxes"></i></span> Publicar producto
                                </a>
                            </li>
                            {% endif %}

                            {% if request.user.is_authenticated %}
                            <li class="d-block d-sm-none">
                                <a href="{% url 'store:mystore' %}" data-backdrop="static" data-keyboard="false">
                                    Publicar producto
                                </a>
                            </li>
                            {% else %}
                            <li class="d-block d-sm-none">
                                <a href="{% url 'authentication:login' %}" data-backdrop="static" data-keyboard="false">
                                    Publicar producto
                                </a>
                            </li>
                            {% endif %}
                            <li>
                                <button class="btn btn-toggle collapsed" data-toggle="collapse" data-target="#mobileMenu"></button>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div class="col-12 col-auto">
                    <div class="navbar-wrapper">
                        <div class="navbar navbar-expand-lg">
                            <div id="mobileMenu" class="collapse navbar-collapse"> 
                                <nav class="main-nav-menu main-menu-nav navbar-arrow">
                                    <ul class="main-nav">
                                        <li><a href="{% url 'home:index' %}">Inicio</a></li>
                                        <li><a href="{% url 'store:index' %}">Tienda</a></li>
                                        <li><a href="{% url 'events:index' %}">Eventos</a></li>
                                        <li><a href="{% url 'blog:index' %}">Blog</a></li>
                                        <li><a href="{% url 'contact:index' %}">Contacto</a></li>
                                    </ul>
                                </nav><!--/.nav-collapse -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>