{% extends 'generic/form.html' %}

{% block title %}Configuración{% endblock %}

{% block form_page_title %}
  <i class="material-icons">settings</i>
  Configuración
{% endblock %}

{% block form_page_subtitle_description %}Configure su sitio{% endblock %}

{% block form_title %}
  <i class="material-icons">settings</i>
  Complete el formulario para configurar su sitio
{% endblock %}

{% block form_sidebar_title %}Necesitas configurar tu sitio?{% endblock %}

{% block form_sidebar_description %}Estás en el lugar correcto! sigue las indicaciones para configurar tu sitio.{% endblock %}

{% block content_form %}
{{form}}
{% endblock %}