{% extends 'gijalan/base.html' %}
{% load staticfiles %}

{% block title %}Tienda{% endblock %}

{% block og_title %}Tienda{% endblock %}
{% block og_image %}https://chiloeisland.net/static/assets/images/image-bg/og_image_big.jpg{% endblock %}

{% block main-wrapper %}
<div class="hero-banner hero-banner-01 overlay-light opacity-2 overlay-relative overlay-gradient gradient-white alt-option-03" style="background-image:url('{% static 'assets/images/image-bg/02.jpg' %}'); background-position: top center;">
    <div class="overlay-holder bottom"></div>
    <div class="hero-inner">
        <div class="container">
            <h1 class="font200">Tienda <span class="font700">Chiloé <span class="block"><span class="font200">Island</span></span></span></h1>
            <p class="font-lg spacing-1">Productos nuevos todas las semanas!</p>
            {% comment %}
            <div class="search-form-main">
                <form>
                    <div class="from-inner">
                        <div class="row shrink-auto-sm gap-1">
                            <div class="col-12 col-auto">
                                <div class="col-inner">
                                    <div class="row cols-1 cols-sm-3 gap-1">
                                        <div class="col">
                                            <div class="col-inner">
                                                <div class="form-group">
                                                    <label>Tour Type</label>
                                                    <select class="chosen-the-basic form-control form-control-sm" placeholder="Select one" tabindex="2">
                                                        <option></option>
                                                        <option>All</option>
                                                        <option>Adventure</option>
                                                        <option>City tour</option>
                                                        <option>Honeymoon</option>
                                                        <option>Cultural</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col">
                                            <div class="col-inner">
                                                <div class="form-group">
                                                    <label>Destination</label>
                                                    <select class="chosen-the-basic form-control form-control-sm" placeholder="Select two" tabindex="2">
                                                        <option></option>
                                                        <option>All</option>
                                                        <option>Asia</option>
                                                        <option>Europe</option>
                                                        <option>Africa</option>
                                                        <option>America</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="col">
                                            <div class="col-inner">
                                                <div class="form-group">
                                                    <label>When</label>
                                                    <input type="text" class="form-control form-readonly-control air-datepicker" placeholder="Pick a month" data-min-view="months" data-view="months" data-date-format="MM yyyy" data-language="en" data-auto-close="true" readonly>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-shrink">
                                <div class="col-inner">
                                    <a href="index.html#" class="btn btn-primary btn-block"><i class="ion-android-search"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            {% endcomment %}
        </div>
    </div>
</div>

<section class="pb-0">
    <div class="container">
        
        <div class="section-title">
            <h2><span><span>Últimos</span> Productos</span></h2>
        </div>
        
        <div class="row equal-height cols-1 cols-sm-2 cols-lg-3 gap-20 mb-30">

            {% for product in last_products %}
            <div class="col">
                <figure class="tour-grid-item-01">
                    <a href="{% url 'store:sellerproduct' product.pk %}">
                        <div class="image">
                            <img src="{{STATIC_STORAGE_PATH}}{{product.image_one.name}}" alt="Chiloé Island" />
                        </div>
                        
                        <figcaption class="content">
                            <h5>{{product.name}}</h5>
                            <ul class="item-meta">
                                <li>
                                    <i class="elegent-icon-profile text-warning"></i> {{product.seller.username}}
                                </li>
                                <li>	
                                    <div class="rating-item rating-sm rating-inline clearfix">
                                        <div class="rating-icons">
                                            <input type="hidden" class="rating" data-filled="rating-icon ri-star rating-rated" data-empty="rating-icon ri-star-empty" data-fractions="2" data-readonly value="0"/>
                                        </div>
                                        <p class="rating-text font600 text-muted font-12 letter-spacing-1">0 Comentarios</p>
                                    </div>
                                </li>
                            </ul>
                            <p class="mt-3 mb-0">Precio <span class="h6 line-1 text-primary font16" name="products-price" data-price="{{product.price}}">${{product.price}}</span> <span class="text-muted mr-5"></span></p>
                        </figcaption>
                    
                    </a>
                    
                </figure> 
            </div>
            {% endfor %}

        </div>
        
        <div class="clear mb-100"></div>
        
        <div class="section-title">
            <a href="{{request.path}}?categories=1"><h2><span><span>Productos</span> Textiles</span></h2></a>
        </div>
        
        <div class="row equal-height cols-1 cols-sm-2 cols-lg-3 gap-20 mb-30">

            {% for product in textile_products %}
            <div class="col">
                <figure class="tour-grid-item-01">
                    <a href="{% url 'store:sellerproduct' product.pk %}">
                        <div class="image">
                            <img src="{{STATIC_STORAGE_PATH}}{{product.image_one.name}}" alt="Chiloé Island" />
                        </div>
                        
                        <figcaption class="content">
                            <h5>{{product.name}}</h5>
                            <ul class="item-meta">
                                <li>
                                    <i class="elegent-icon-profile text-warning"></i> {{product.seller.username}}
                                </li>
                                <li>	
                                    <div class="rating-item rating-sm rating-inline clearfix">
                                        <div class="rating-icons">
                                            <input type="hidden" class="rating" data-filled="rating-icon ri-star rating-rated" data-empty="rating-icon ri-star-empty" data-fractions="2" data-readonly value="0"/>
                                        </div>
                                        <p class="rating-text font600 text-muted font-12 letter-spacing-1">0 Comentarios</p>
                                    </div>
                                </li>
                            </ul>
                            <p class="mt-3 mb-0">Precio <span class="h6 line-1 text-primary font16" name="products-price" data-price="{{product.price}}">${{product.price}}</span> <span class="text-muted mr-5"></span></p>
                        </figcaption>
                    
                    </a>
                    
                </figure> 
            </div>
            {% endfor %}

        </div>
        
        <div class="clear mb-100"></div>
        
        <div class="section-title">
            <a href="{{request.path}}?categories=2"><h2><span><span>Productos</span> de Madera</span></h2></a>
        </div>
        
        <div class="row equal-height cols-1 cols-sm-2 cols-lg-3 gap-20 mb-30">

            {% for product in wood_products %}
            <div class="col">
                <figure class="tour-grid-item-01">
                    <a href="{% url 'store:sellerproduct' product.pk %}">
                        <div class="image">
                            <img src="{{STATIC_STORAGE_PATH}}{{product.image_one.name}}" alt="Chiloé Island" />
                        </div>
                        
                        <figcaption class="content">
                            <h5>{{product.name}}</h5>
                            <ul class="item-meta">
                                <li>
                                    <i class="elegent-icon-profile text-warning"></i> {{product.seller.username}}
                                </li>
                                <li>	
                                    <div class="rating-item rating-sm rating-inline clearfix">
                                        <div class="rating-icons">
                                            <input type="hidden" class="rating" data-filled="rating-icon ri-star rating-rated" data-empty="rating-icon ri-star-empty" data-fractions="2" data-readonly value="0"/>
                                        </div>
                                        <p class="rating-text font600 text-muted font-12 letter-spacing-1">0 Comentarios</p>
                                    </div>
                                </li>
                            </ul>
                            <p class="mt-3 mb-0">Precio <span class="h6 line-1 text-primary font16" name="products-price" data-price="{{product.price}}">${{product.price}}</span> <span class="text-muted mr-5"></span></p>
                        </figcaption>
                    
                    </a>
                    
                </figure> 
            </div>
            {% endfor %}

        </div>
        
        <div class="clear mb-100"></div>
        
        <div class="section-title">
            <a href="{{request.path}}?categories=3"><h2><span><span>Productos</span> de Fibra</span></h2></a>
        </div>
        
        <div class="row equal-height cols-1 cols-sm-2 cols-lg-3 gap-20 mb-30">

            {% for product in fiber_products %}
            <div class="col">
                <figure class="tour-grid-item-01">
                    <a href="{% url 'store:sellerproduct' product.pk %}">
                        <div class="image">
                            <img src="{{STATIC_STORAGE_PATH}}{{product.image_one.name}}" alt="Chiloé Island" />
                        </div>
                        
                        <figcaption class="content">
                            <h5>{{product.name}}</h5>
                            <ul class="item-meta">
                                <li>
                                    <i class="elegent-icon-profile text-warning"></i> {{product.seller.username}}
                                </li>
                                <li>	
                                    <div class="rating-item rating-sm rating-inline clearfix">
                                        <div class="rating-icons">
                                            <input type="hidden" class="rating" data-filled="rating-icon ri-star rating-rated" data-empty="rating-icon ri-star-empty" data-fractions="2" data-readonly value="0"/>
                                        </div>
                                        <p class="rating-text font600 text-muted font-12 letter-spacing-1">0 Comentarios</p>
                                    </div>
                                </li>
                            </ul>
                            <p class="mt-3 mb-0">Precio <span class="h6 line-1 text-primary font16" name="products-price" data-price="{{product.price}}">${{product.price}}</span> <span class="text-muted mr-5"></span></p>
                        </figcaption>
                    
                    </a>
                    
                </figure> 
            </div>
            {% endfor %}

        </div>
        
        <div class="clear mb-100"></div>
        
        <div class="section-title">
            <a href="{{request.path}}?categories=4"><h2><span><span>Jugos</span> y bebidas</span></h2></a>
        </div>
        
        <div class="row equal-height cols-1 cols-sm-2 cols-lg-3 gap-20 mb-30">

            {% for product in drink_products %}
            <div class="col">
                <figure class="tour-grid-item-01">
                    <a href="{% url 'store:sellerproduct' product.pk %}">
                        <div class="image">
                            <img src="{{STATIC_STORAGE_PATH}}{{product.image_one.name}}" alt="Chiloé Island" />
                        </div>
                        
                        <figcaption class="content">
                            <h5>{{product.name}}</h5>
                            <ul class="item-meta">
                                <li>
                                    <i class="elegent-icon-profile text-warning"></i> {{product.seller.username}}
                                </li>
                                <li>	
                                    <div class="rating-item rating-sm rating-inline clearfix">
                                        <div class="rating-icons">
                                            <input type="hidden" class="rating" data-filled="rating-icon ri-star rating-rated" data-empty="rating-icon ri-star-empty" data-fractions="2" data-readonly value="0"/>
                                        </div>
                                        <p class="rating-text font600 text-muted font-12 letter-spacing-1">0 Comentarios</p>
                                    </div>
                                </li>
                            </ul>
                            <p class="mt-3 mb-0">Precio <span class="h6 line-1 text-primary font16" name="products-price" data-price="{{product.price}}">${{product.price}}</span> <span class="text-muted mr-5"></span></p>
                        </figcaption>
                    
                    </a>
                    
                </figure> 
            </div>
            {% endfor %}

        </div>
        
    <div class="clear mb-100"></div>

    </div>
</section>
{% endblock %}

{% block pageleveljs %}
    <script type="text/javascript">
        parseCLP('products-price');
    </script>
{% endblock %}
