{% extends 'generic/create_or_update.html' %}

{% block title %}Nuevo usuario{% endblock %}

{% block create_or_update_description %}Agregue un nuevo usuario{% endblock %}

{% block create_or_update_form_title %}Complete el formulario para agregar un nuevo usuario{% endblock %}

{% block create_or_update_sidebar_title %}Necesitas agregar un nuevo usuario?{% endblock %}

{% block create_or_update_sidebar_description %}Estás en el lugar correcto! sigue las indicaciones para crear el usuario.{% endblock %}