{% load staticfiles %}
<!doctype html>
<html lang="es-CL">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}{% endblock %} - {{SITE_NAME}}</title>
	<meta name="description" content="{{SITE_DESCRIPTION}}" />
	<meta name="keywords" content="{{SITE_KEYWORDS}}" />
	<meta name="author" content="thecoderscompany">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Social networks meta tags -->
	<meta property="og:locale" content="es" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="{% block og_title %}{% endblock %} | {{SITE_NAME}}" />
	<meta property="og:description" content="{{SITE_DESCRIPTION}}" />
	<meta property="og:site_name" content="{{SITE_NAME}}" />
	<meta property="og:url" content="https://chiloeisland.net" />
	<meta property="og:image" content="https://chiloeisland.net/static/assets/images/image-bg/og_image.jpg" />
	
	<!-- Fav and Touch Icons -->
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'assets/images/image-favicon/favicon-144.png' %}">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'assets/images/image-favicon/favicon-114.png' %}">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'assets/images/image-favicon/favicon-72.png' %}">
	<link rel="apple-touch-icon-precomposed" href="{% static 'assets/images/image-favicon/favicon-72.png' %}">
	<link rel="shortcut icon" href="{% static 'assets/images/image-favicon/favicon-72.png' %}">

	<!-- Font face -->
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i|Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap" rel="stylesheet"> 
	<link href="{% static 'assets/font-faces/metropolis/metropolis.css' %}" rel="stylesheet"> 
	
	<!-- CSS Plugins -->
	<link href="{% static 'assets/css/font-icons.css' %}" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}" media="screen">	
	<link href="{% static 'assets/css/main.css' %}" rel="stylesheet">
	<link href="{% static 'assets/css/plugin.css' %}" rel="stylesheet">
	
	<!-- CSS Custom -->
	<link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
	
	<!-- CSS Custom -->
	<link href="{% static 'assets/css/your-style.css' %}" rel="stylesheet">
	{% block css-custom %}{% endblock %}

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-155388494-1"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'UA-155388494-1');
	</script>

	
</head>

<body class="with-waypoint-sticky">
	<div id="fb-root"></div>
	<script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_CL/sdk.js#xfbml=1&version=v5.0"></script>

	<!-- start Body Inner -->
	<div class="body-inner">
		<!-- start Header -->
		{% include 'gijalan/header/header.html' %}
		<!-- start Header -->

		<!-- start Main Wrapper -->
		<div class="main-wrapper scrollspy-container">
            {% block main-wrapper %}{% endblock %}
		</div>		
		<!-- end Main Wrapper -->
		
		<!-- start Footer Wrapper -->
		    {% include 'gijalan/footer/footer.html' %}
		<!-- start Footer Wrapper -->
		
	</div>
	<!-- end Body Inner -->
	
	<!-- start Back To Top -->
	<a id="back-to-top" href="#" class="back-to-top" role="button" title="Volver al inicio" data-toggle="tooltip" data-placement="left"><i class="elegent-icon-arrow_carrot-up"></i></a>
	<!-- end Back To Top -->
	
	<!-- JS -->
	<script type="text/javascript" src="{% static 'assets/js/jquery-2.2.4.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/custom-core.js' %}"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
	<script type="text/javascript" src="{% static 'assets/js/utils.js' %}"></script>
	{% block pageleveljs %}{% endblock %}
</body>

</html>