{% extends 'gijalan/base.html' %}

{% block title %}Cookies{% endblock %}

{% block og_title %}Cookies{% endblock %}

{% block main-wrapper %}
    <section class="page-wrapper pb-0">
    
        <div class="page-title bg-light mb-0">
        
            <div class="container">
            
                <div class="row gap-15 align-items-center">
                
                    <div class="col-12 col-md-7">
                        
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                                <li class="breadcrumb-item active" aria-current="page">Cookies</li>
                            </ol>
                        </nav>
                        
                        <h4 class="mt-0 line-125">Cookies</h4>
                        
                    </div>
                    
                </div>
        
            </div>
            
        </div>
        
        <div class="container">

            <div class="row gap-0 gap-lg-30 gap-xl-40">
                <div class="col-12">

                    <p><strong>Qu&eacute; son las cookies y por qu&eacute; las utilizamos en Chilo&eacute; Island</strong></p>
<p>Una cookie es un fichero que se descarga en el dispositivo del usuario al acceder a determinadas p&aacute;ginas web para almacenar y recuperar informaci&oacute;n sobre la navegaci&oacute;n que se efect&uacute;a desde dicho equipo.</p>
<p>Las cookies permiten a dicha web, entre otras cosas, almacenar y recuperar informaci&oacute;n sobre las decisiones y h&aacute;bitos del usuario. En Chilo&eacute; Island las utilizamos para personalizar la experiencia dentro de nuestra web, identificar y recordar al usuario registrado, facilitar la navegaci&oacute;n as&iacute; como personalizar las campa&ntilde;as publicitarias que se pudieran mostrar durante la navegaci&oacute;n.</p>
<p>Es importante destacar que el uso de cookies no proporciona datos personales del usuario, que de cara a Chilo&eacute; Island permanece an&oacute;nimo.</p>
<p>El usuario puede configurar su navegador para no aceptar el uso de cookies, en cuyo caso la personalizaci&oacute;n de la experiencia no se aplicar&iacute;a aunque s&iacute; podr&aacute; seguir accediendo a los contenidos de nuestra web con normalidad.</p>
<p>En la p&aacute;gina de Wikipedia (https://es.wikipedia.org/wiki/Cookie_(inform%C3%A1tica)) es posible obtener m&aacute;s informaci&oacute;n acerca de qu&eacute; son las cookies y c&oacute;mo funcionan.</p>
<p><strong>Qu&eacute; tipo de cookies utiliza la web de Chilo&eacute; Island</strong></p>
<p>Las Cookies, en funci&oacute;n de su permanencia, pueden dividirse en Cookies de sesi&oacute;n o permanentes. Las primeras expiran cuando el usuario cierra el navegador. Las segundas expiran en funci&oacute;n cuando se cumpla el objetivo para el que sirven (por ejemplo, para que el usuario se mantenga identificado en la web de Chilo&eacute; Island) o bien cuando se borran manualmente.</p>
<p>Adicionalmente, en funci&oacute;n de su objetivo, las Cookies pueden clasificarse de la siguiente forma:</p>
<p><strong>Cookies de registro</strong>: las Cookies de registro se generan una vez que el Usuario se ha registrado o posteriormente ha abierto su sesi&oacute;n, y se utilizan para identificarle en las web y servicios con los siguientes objetivos:</p>
<ul>
<li>Mantener al usuario identificado de forma que, si cierra un servicio o web, el navegador o el ordenador y en otro momento u otro d&iacute;a vuelve a entrar en dicho servicio o web, seguir&aacute; identificado, facilitando as&iacute; su navegaci&oacute;n sin tener que volver a identificarse. Esta funcionalidad se puede suprimir si el usuario pulsa la funcionalidad &ldquo;Salir&rdquo;, de forma que esta Cookie se elimina y la pr&oacute;xima vez que entre en la web el usuario tendr&aacute; que iniciar sesi&oacute;n para estar identificado.</li>
<li>Comprobar si el usuario est&aacute; autorizado para acceder a ciertos servicios, por ejemplo, para participar en un concurso o escribir comentarios.</li>
<li>Adicionalmente, algunos servicios pueden utilizar conectores de terceros tales como Facebook, Twitter o Google. Cuando el usuario se registra en un servicio con credenciales de una red social o sistema de identificaci&oacute;n de terceros, autoriza al mismo a guardar una cookie persistente que recuerda su identidad y le garantiza acceso a la web hasta que expira. El usuario puede borrar esta cookie y revocar el acceso a la web mediante redes sociales o sistema de identificaci&oacute;n de terceros actualizando sus preferencias en la red social que espec&iacute;fica.</li>
</ul>
<p><strong>Cookies de anal&iacute;tica</strong>: cada vez que un Usuario visita una Web o Servicio, una herramienta de un proveedor externo (Google Analytics) genera una cookie anal&iacute;tica en el dispositivo del usuario. Esta cookie que s&oacute;lo se genera en la visita, servir&aacute; en pr&oacute;ximas visitas a los servicios de Chilo&eacute; Island para identificar de forma an&oacute;nima al visitante. Los objetivos principales que se persiguen son:</p>
<ul>
<li>Permitir la identificaci&oacute;n an&oacute;nima de los usuarios navegantes a trav&eacute;s de la &ldquo;Cookie&rdquo; (identifica navegadores y dispositivos, no personas) y por lo tanto la contabilizaci&oacute;n aproximada del n&uacute;mero de visitantes y su tendencia en el tiempo.</li>
<li>Identificar de forma an&oacute;nima los contenidos m&aacute;s visitados y por lo tanto m&aacute;s atractivos para los usuarios.</li>
<li>Saber si el usuario que est&aacute; accediendo es nuevo o repite visita.</li>
</ul>
<p><em>Importante</em>: Salvo que el Usuario decida registrarse en Chilo&eacute; Island, la cookie nunca ir&aacute; asociada a ning&uacute;n dato de car&aacute;cter personal que pueda identificarle. Dichas cookies s&oacute;lo ser&aacute;n utilizadas con prop&oacute;sitos estad&iacute;sticos a los efectos de recoger m&eacute;tricas sobre el uso de nuestras webs.</p>
<p>M&aacute;s informaci&oacute;n sobre la pol&iacute;tica de privacidad de estas herramientas de anal&iacute;tica en: <a href="https://www.google.es/policies/privacy/" target="_blank" rel="noopener noreferrer">Google Analytics</a>.</p>

                </div>                
            </div>
            
        </div>
    
    </section>
{% endblock %}

{% block pageleveljs %}{% endblock %}