{% extends 'generic/form.html' %}

{% block title %}Nuevo producto{% endblock %}

{% block form_page_title %}
    <i class="material-icons contact-icon vertical-text-top">person_add</i>
    Nuevo producto
{% endblock %}

{% block form_page_subtitle_description %}Agregue un nuevo producto{% endblock %}

{% block form_title %}
    <i class="material-icons">shopping_cart</i>
    Complete el formulario para agregar un nuevo producto
{% endblock %}

{% block form_sidebar_title %}Necesitas agregar un nuevo producto?{% endblock %}

{% block form_sidebar_description %}Estás en el lugar correcto! sigue las indicaciones para crear el usuario.{% endblock %}

{% block content_form %}
    {{form.errors}}
    {% include 'generic/forms/file.html' with field=form.image_one name="image_one" required=True col="s4" %}
    {% include 'generic/forms/file.html' with field=form.image_two name="image_one" col="s4" %}
    {% include 'generic/forms/file.html' with field=form.image_three name="image_one" col="s4" %}
    <div class="input-field col s12">
        <select name="categories" id="id_categories" multiple required>
            {% for category in categories %}
            <optgroup label="{{category.name}}">
                {% for subcategory in category.subcategory_set.all %}
                <option value="{{subcategory.pk}}">{{subcategory.name}}</option>
                {% endfor %}
            </optgroup>
            {% endfor %}
        </select>
        <label for="id_categories">Categoría</label>
    </div>
    {{form.images_status}}
    {% include 'generic/forms/input.html' with field=form.name label="Nombre" col="s12" %}
    {% include 'generic/forms/input.html' with field=form.price label="Precio" col="s12" %}
    {% include 'generic/forms/checkbox.html' with field=form.active checked="True" label="Activo" col="s12" %}
    {{form.description}}
{% endblock %}

{% block pageleveljs %}
<script>
    $('#id_image_one').dropify({
        messages: {
            default: 'Agregar imagen principal',
            replace: 'Haz clic para reemplazar la imagen',
            remove:  'Quitar',
            error:   'El tipo de documento no valido'
        }
    });
    $('#id_image_two').dropify({
        messages: {
            default: 'Agregar imagen',
            replace: 'Haz clic para reemplazar la imagen',
            remove:  'Quitar',
            error:   'El tipo de documento no valido'
        }
    });
    $('#id_image_three').dropify({
        messages: {
            default: 'Agregar imagen',
            replace: 'Haz clic para reemplazar la imagen',
            remove:  'Quitar',
            error:   'El tipo de documento no valido'
        }
    });
</script>
{% endblock %}