{% extends 'generic/form.html' %}
{% load staticfiles %}

{% block title %}Editar producto{% endblock %}

{% block form_page_title %}
    <i class="material-icons contact-icon vertical-text-top">person_add</i>
    Editar producto
{% endblock %}

{% block form_page_subtitle_description %}Edite su producto{% endblock %}

{% block form_title %}
    <i class="material-icons">shopping_cart</i>
    Complete el formulario para editar su producto
{% endblock %}

{% block form_sidebar_title %}Necesitas editar el producto?{% endblock %}

{% block form_sidebar_description %}Estás en el lugar correcto! sigue las indicaciones para editar el producto.{% endblock %}

{% block content_form %}
    {{form.errors}}

    {{form.images_status}}

    {% include 'generic/forms/file.html' with size="2M" field=form.image_one required=True col="s12 m3" %}
    {% include 'generic/forms/file.html' with size="2M" field=form.image_two col="s12 m3" %}
    {% include 'generic/forms/file.html' with size="2M" field=form.image_three col="s12 m3" %}
    {% include 'generic/forms/file.html' with size="2M" field=form.image_four col="s12 m3" %}
    <div class="input-field col s12">
        {{form.categories}}
    </div>

    {% include 'generic/forms/input.html' with field=form.name label="Nombre" col="s12" %}
    {% include 'generic/forms/input.html' with field=form.price label="Precio" col="s12" %}
    {% include 'generic/forms/checkbox.html' with field=form.active label="Activo" col="s12" %}
    {{form.description}}
{% endblock %}

{% block pageleveljs %}
    <script type="text/javascript" src="{% static 'assets/js/mystore.js' %}"></script>
{% endblock %}