{% extends 'generic/form.html' %}

{% block title %}Editar producto{% endblock %}

{% block form_page_title %}
    <i class="material-icons contact-icon vertical-text-top">person_add</i>
    Editar producto
{% endblock %}

{% block form_page_subtitle_description %}Edite su producto{% endblock %}

{% block form_title %}
    <i class="material-icons">shopping_cart</i>
    Complete el formulario para editar su producto
{% endblock %}

{% block form_sidebar_title %}Necesitas editar el producto?{% endblock %}

{% block form_sidebar_description %}Estás en el lugar correcto! sigue las indicaciones para editar el producto.{% endblock %}

{% block content_form %}
    {{form.errors}}
    {% include 'generic/forms/file.html' with field=form.image_one required=True col="s4" %}
    {% include 'generic/forms/file.html' with field=form.image_two col="s4" %}
    {% include 'generic/forms/file.html' with field=form.image_three col="s4" %}
    <div class="input-field col s12">
        {{form.categories}}
    </div>
    
    {{form.images_status}}

    {% include 'generic/forms/input.html' with field=form.name label="Nombre" col="s12" %}
    {% include 'generic/forms/input.html' with field=form.price label="Precio" col="s12" %}
    {% include 'generic/forms/checkbox.html' with field=form.active label="Activo" col="s12" %}
    {{form.description}}
{% endblock %}

{% block pageleveljs %}
<script>
    var image_one = $('#id_image_one').dropify({
        messages: {
            default: 'Agregar imagen principal',
            replace: 'Haz clic para reemplazar la imagen',
            remove:  'Quitar',
            error:   'El tipo de documento no valido'
        }
    });
    var image_two = $('#id_image_two').dropify({
        messages: {
            default: 'Agregar imagen',
            replace: 'Haz clic para reemplazar la imagen',
            remove:  'Quitar',
            error:   'El tipo de documento no valido'
        }
    });
    var image_three = $('#id_image_three').dropify({
        messages: {
            default: 'Agregar imagen',
            replace: 'Haz clic para reemplazar la imagen',
            remove:  'Quitar',
            error:   'El tipo de documento no valido'
        }
    });

    function editDropifyElement (event, element){
        let input = document.getElementById('id_images_status')
        let value = input.value // 0::0::0
        let splittedValue = value.split('::') // ['0', '0', '0']

        let eventName = event.target.name

        if (eventName == 'image_one') {
            splittedValue[0] = '1'
        } else if (eventName == 'image_two') {
            splittedValue[1] = '1'
        } else if (eventName == 'image_three') {
            splittedValue[2] = '1'
        }

        // Array to string '1::1::1'
        input.value = splittedValue.join('::')

    }

    image_one.on('dropify.afterClear', editDropifyElement);
    image_two.on('dropify.afterClear', editDropifyElement);
    image_three.on('dropify.afterClear', editDropifyElement);

</script>
{% endblock %}