{% extends 'generic/base.html' %}
{% load staticfiles %}

{% block title %}Productos{% endblock %}

{% block og_title %}Tienda{% endblock %}

{% block vendorcss %}
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/noUiSlider/nouislider.min.css' %}">
{% endblock %}

{% block pagelevelcss %}
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/pages/eCommerce-products-page.css' %}">
{% endblock %}

{% block customcss %}{% endblock %}

{% block breadcrumb %}
   <div class="col s10 m6 l6">
      <h5 class="breadcrumbs-title mt-0 mb-0"><span>Productos</span></h5>
      <ol class="breadcrumbs mb-0">
      <li class="breadcrumb-item"><a href="#">Inicio</a></li>
      <li class="breadcrumb-item active">Mis productos</li>
      </ol>
   </div>

   <div class="col s2 m6 l6">
      <a class="btn dropdown-settings waves-effect waves-light breadcrumbs-btn gradient-45deg-green-teal right" href="{% url 'store:sellerstore' request.user.username %}" target="_blank" data-target="dropdown1">
         <i class="material-icons hide-on-med-and-up">open_in_new</i>
         <span class="hide-on-small-onl">Ver tienda</span>
         <i class="material-icons left">open_in_new</i>
      </a>
   </div>
{% endblock %}

{% block container %}
<div class="section">
   <div class="row" id="ecommerce-products">
      {% include 'products/create/side-filter.html' %}
      <div class="col s12 m12 l9">
         {% for object in objects %}
         <div class="col s12 m4 l4">
            <div class="card animate fadeLeft">
               <div class="card-content">
                  <p>Código del producto: {{object.pk}}</p>
                  <span class="card-title text-ellipsis">{{object.name}}</span>

                  <img src="{{STATIC_STORAGE_PATH}}{{object.image_one.name}}" class="responsive-img" alt="{{object.name}}">
                  <div class="row">
                     <h5 class="col s12 m12 l8 mt-3">${{object.price}}</h5>
                  </div>

                  <div class="row">

                     <div class="col s9">
                        <a class="col waves-effect waves-light gradient-45deg-deep-purple-blue btn modal-trigger"
                        href="{% url 'store:edit' object.pk %}">Ver detalles</a>
                     </div>

                     <div class="col s3" style="padding-top: 5px;">
                        <a href="{% url 'store:sellerproduct' object.pk %}" target="_blank"><i class="material-icons left">public</i></a>
                     </div>

                  </div>
               </div>
            </div>
         </div>
         {% endfor %}
         <!-- Pagination -->
         <div class="col s12 center">
            {% include 'generic/pagination/index.html' %}
         </div>
      </div>
   </div>
</div>
<!-- START RIGHT SIDEBAR NAV -->
<aside id="right-sidebar-nav">
   <div id="slide-out-right" class="slide-out-right-sidenav sidenav rightside-navigation">
      <div class="row">
         <div class="slide-out-right-title">
            <div class="col s12 border-bottom-1 pb-0 pt-1">
               <div class="row">
                  <div class="col s2 pr-0 center">
                     <i class="material-icons vertical-text-middle"><a href="#" class="sidenav-close">clear</a></i>
                  </div>
                  <div class="col s10 pl-0">
                     <ul class="tabs">
                        <li class="tab col s4 p-0">
                           <a href="#messages" class="active">
                              <span>Messages</span>
                           </a>
                        </li>
                        <li class="tab col s4 p-0">
                           <a href="#settings">
                              <span>Settings</span>
                           </a>
                        </li>
                        <li class="tab col s4 p-0">
                           <a href="#activity">
                              <span>Activity</span>
                           </a>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>

      </div>
   </div>

</aside>
<!-- END RIGHT SIDEBAR NAV -->
<div style="bottom: 50px; right: 19px;" class="fixed-action-btn direction-top">
   <a class="btn-floating btn-large gradient-45deg-light-blue-cyan gradient-shadow" href="{% url 'store:new'  %}">
      <i class="material-icons">add</i>
   </a>
</div>
{% endblock %}

{% block pagevendorjs %}
    <script src="{% static 'app-assets/vendors/noUiSlider/nouislider.min.js' %}" type="text/javascript"></script>
{% endblock%}

{% block themejs %}
    <script src="{% static 'app-assets/js/plugins.js' %}" type="text/javascript"></script>
    <script src="{% static 'app-assets/js/custom/custom-script.js' %}" type="text/javascript"></script>
{% endblock%}

{% block pageleveljs %}
    <script src="{% static 'app-assets/js/scripts/advance-ui-modals.js' %}" type="text/javascript"></script>
    <script src="{% static 'app-assets/js/scripts/eCommerce-products-page.js' %}" type="text/javascript"></script>
{% endblock%}