<div class="gradient-color center-align">
    <span
       class="{{option}} gradient-45deg-indigo-blue"
       data-color="gradient-45deg-indigo-blue"
       data-code="1"
       onclick="themeCustomizer(this)"
       name="navbar_color"
    ></span>
    <span
       class="{{option}} gradient-45deg-purple-deep-orange"
       data-color="gradient-45deg-purple-deep-orange"
       data-code="2"
       onclick="themeCustomizer(this)"
       name="navbar_color"
    ></span>
    <span
       class="{{option}} gradient-45deg-light-blue-cyan"
       data-color="gradient-45deg-light-blue-cyan"
       data-code="3"
       onclick="themeCustomizer(this)"
       name="navbar_color"
    ></span>
    <span
       class="{{option}} gradient-45deg-purple-amber"
       data-color="gradient-45deg-purple-amber"
       data-code="4"
       onclick="themeCustomizer(this)"
       name="navbar_color"
    ></span>
    <span
       class="{{option}} gradient-45deg-purple-deep-purple"
       data-color="gradient-45deg-purple-deep-purple"
       data-code="5"
       onclick="themeCustomizer(this)"
       name="navbar_color"
    ></span>
    <span
       class="{{option}} gradient-45deg-deep-orange-orange"
       data-color="gradient-45deg-deep-orange-orange"
       data-code="6"
       onclick="themeCustomizer(this)"
       name="navbar_color"
    ></span>
    <span
       class="{{option}} gradient-45deg-green-teal"
       data-color="gradient-45deg-green-teal"
       data-code="7"
       onclick="themeCustomizer(this)"
       name="navbar_color"
    ></span>
    <span
       class="{{option}} gradient-45deg-indigo-light-blue"
       data-color="gradient-45deg-indigo-light-blue"
       data-code="8"
       onclick="themeCustomizer(this)"
       name="navbar_color"
    ></span>
    <span
       class="{{option}} gradient-45deg-red-pink"
       data-color="gradient-45deg-red-pink"
       data-code="9"
       onclick="themeCustomizer(this)"
       name="navbar_color"
    ></span>
 </div>
 <div class="solid-color center-align">
    <span 
       class="{{option}} red"
       data-color="red"
       data-code="10"
       onclick="themeCustomizer(this)"
       name="navbar_color"
    ></span>
    <span 
       class="{{option}} purple"
       data-color="purple"
       data-code="11"
       onclick="themeCustomizer(this)"
       name="navbar_color"
    ></span>
    <span 
       class="{{option}} pink"
       data-color="pink"
       data-code="12"
       onclick="themeCustomizer(this)"
       name="navbar_color"
    ></span>
    <span 
       class="{{option}} deep-purple"
       data-color="deep-purple"
       data-code="13"
       onclick="themeCustomizer(this)"
       name="navbar_color"
    ></span>
    <span 
       class="{{option}} cyan"
       data-color="cyan"
       data-code="14"
       onclick="themeCustomizer(this)"
       name="navbar_color"
    ></span>
    <span 
       class="{{option}} teal"
       data-color="teal"
       data-code="15"
       onclick="themeCustomizer(this)"
       name="navbar_color"
    ></span>
    <span 
       class="{{option}} light-blue"
       data-color="light-blue"
       data-code="16"
       onclick="themeCustomizer(this)"
       name="navbar_color"
    ></span>
    <span 
       class="{{option}} amber darken-3"
       data-color="amber darken-3"
       data-code="17"
       onclick="themeCustomizer(this)"
       name="navbar_color"
    ></span>
    <span 
       class="{{option}} brown darken-2"
       data-color="brown darken-2"
       data-code="18"
       onclick="themeCustomizer(this)"
       name="navbar_color"
    ></span>
 </div>