<ul class="pagination">
    {% if objects.has_previous %}
        <a href="?page={{objects.previous_page_number}}">
            <i class="material-icons">chevron_left</i>
        </a>
    {% else %}
        <li class="disabled">
            <a href="#!">
                <i class="material-icons">chevron_left</i>
            </a>
        </li>
    {% endif %}

    {% for i in objects.paginator.page_range %}
        {% if objects.number == i %}
            <li class="active"><a href="#!">{{i}}</a></li>
        {% else %}
            <li class="waves-effect"><a href="?page={{i}}">{{i}}</a></li>
        {% endif %}
    {% endfor %}

    {% if objects.has_next %}
        <li class="waves-effect">
            <a href="?page={{objects.next_page_number}}">
                <i class="material-icons">chevron_right</i>
            </a>
        </li>
    {% else %}
        <li class="disabled">
            <a href="#!">
                <i class="material-icons">chevron_right</i>
            </a>
        </li>
    {% endif %}
</ul>