{% extends 'generic/create_or_update/create_or_update.html' %}

{% block title %}Actualizar usuario{% endblock %}

{% block create_or_update_description %}Actualice al usuario seleccionado{% endblock %}

{% block create_or_update_form_title %}Complete el formulario para actualizar al usuario{% endblock %}

{% block create_or_update_sidebar_title %}Necesitas actualizar a un usuario?{% endblock %}

{% block create_or_update_sidebar_description %}Estás en el lugar correcto! sigue las indicaciones para actualizar al usuario.{% endblock %}