{% extends 'generic/form.html' %}

{% block title %}Actualizar usuario{% endblock %}

{% block form_page_title %}
    <i class="material-icons">edit</i>
    Actualizar usuario
{% endblock %}

{% block form_page_subtitle_description %}Actualice al usuario seleccionado{% endblock %}

{% block form_title %}
    <i class="material-icons">edit</i>
    Complete el formulario para actualizar al usuario
{% endblock %}

{% block form_sidebar_title %}Necesitas actualizar a un usuario?{% endblock %}

{% block form_sidebar_description %}Estás en el lugar correcto! sigue las indicaciones para actualizar al usuario.{% endblock %}